@charset "UTF-8";

html {
  font-size: 100%;
}

body {
  line-height: 1.0;
  color: #24292E;
  /* 後ほどGoogle Fontsを読み込み */
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 4%;
}

.menu__content,
.about__list {
  font-size: 14.4px;
}

h2 {
  font-size: 24px;
  margin: 70px auto;
  text-align: center;
}

/* ヘッダー */
h1 img {
  max-width: 120px;
}

.menu__content  {
  list-style: none;
}

.menu__content + .menu__content {
  margin-left: 8%;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.menu {
  display: flex;
  align-items: center;
}

/* メインビジュアル */
.mainvisual {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
}

.mainvisual img {
  height: 420px;
  object-fit: cover;
}

/* About */
.about__content {
  margin-top: 20px;
  line-height: 1.2;
}

/* Works */
.works-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works-flex img {
  width: 30%;
}

.works-flex img {
  margin-top: 30px;
}

/* News */
.news-tr {
  border-top: 1px solid #808080;
}

/* レスポンシブ */
@media screen and (max-width: 600px) {
  .nav {
    display: flex;
    flex-direction: column;
  }

  .works-flex {
    flex-direction: column;
  }

  .works-flex img {
    width: 100%;
    height: auto;
  }

}