/* header */
.header__flex {
  display: flex;
  justify-content: space-between;
}

.header__inner-flex {
  display: flex;
  margin-left: 8vw;
  align-items: center;
}

/* header,footer logo　共通 */
.header__logo, .footer__logo {
  width: 100px;
}

.header__nav-menu {
  display: flex;
}

.header__nav-menu li {
  margin-left: 4vw;
}

.header__contact {
  font-size: 1.2rem;
  background-color: #000000;
  color: #FFFFFF;
  padding: 20px 40px;
}

/* mainvisual */
/* 画面が広がらない */
.mainvisual {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}


/* business */
/* business__flex内の要素を垂直に中央寄りにしたい */
.business__flex {
  display: flex;
}

.business__inner-left {
  margin-top: 60px;
}

.business__inner-item {
  position: relative;
}

.business__inner-item + .business__inner-item {
  margin-top: 25px;
}

.business__inner-item img {
  width: 70%;
}

.business__inner-title {
  margin-left: 20px;
}

.business__inner-title::before {
  content: "";
  width: 8px;
  height: 1.5px;
  background-color: #000;
  position: absolute;
  top: 15px;
  left: 0;
}

/* company */
#company {
  display: flex;
  position: relative;
}

.company__inner{
  background-color: #FFFFFF;
  padding: 40px;
  width: 60%;
}

.company__info {
  display: flex;
  flex-wrap: wrap;
}

.company__info-item {
  width: 15%;
}

.company__info-data {
  width: 85%;
}

.company__info-adddata {
  width: 85%;
  margin-left: 15%;
}

.company__image {
  position: absolute;
  top: 100px;
  left: 500px;
  width: 50%;
}

.company__image img {
  height: 300px;
  width: 90%;
  object-fit: cover;
}

/* footer */
.footer__flex {
  display: flex;
  justify-content: space-between;
}


/* レスポンシブ */
@media screen and (max-width: 900px) {
  /* header */
  .header__inner-flex {
    flex-direction: column;
    margin-left: 0;
    align-items: stretch;
    padding: 20px 4vw;
  }
  
  .header__contact {
    display: none;
  }

  /* business */
  .business__flex {
    flex-direction: column;
  }
  
  .business__inner-left {
    margin-top: 0;
  }
    
  .business__inner-item img {
    width: 100%;
  }
  
  .business__inner-right {
    margin-top: 25px;
  }

  /* company */
  #company {
    flex-direction: column;
  }

  .company__inner{
    width: 100%;
    padding: 4vw;
  }

  .company__info {
    flex-direction: column;
    flex-wrap: wrap;
  }

  .company__info-item {
    width: 100%;
    margin-top: 15px;
  }

  .company__info-item:first-child {
    margin-top: 0;
  }
  
  .company__info-data {
    width: 100%;
    margin-left: 4vw;
  }
  
  .company__info-adddata {
    width: 100%;
    margin-left: 4vw;
  }
  
  .company__image {
    position: static;
    width: 100%;
  }
  
  .company__image img {
    width: 100%;
    height: 400px;
    margin-top: 10px;
  }

  /* footer */
  .footer__flex {
    flex-direction: column;
  }

  .footer__contact-info, .footer__copyright {
    margin-top: 20px;
  }

}