@charset "UTF-8";

/* 全体 */
html {
  font-size: 100%;
}

body {
  /* Google Fontsを読み込むならここ */
  line-height: 1.0;
  color: #000000;
  font-size: 0.875rem;
}

img {
  max-width: 100px;
  height: auto;
  vertical-align: bottom;
}

a {
  color: #000;
  text-decoration: none;
}

.container-1 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
  background-color: #F0F0F0;
}

.container-2 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
  background-color: #fff;
}


/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
}

.menu__list {
  text-transform: uppercase;
  margin-left: 4vw;
}

.header__box1 {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.header__box2 {
  padding: 30px 50px;
  color: #fff;
  background: #000;
  font-size: 0.75rem;
}

/* メインビジュアル */
.main-visual {
  margin: 0 calc(50% - 50vw);
  width: 100%;
}

  /* フッター */
  .footer {
    background-color: #fff;
  }

  .footer__flex {
    display: flex;
    justify-content: space-between;
    padding: 30px 8vw;
  }

  .copyright {
    font-size: 0.75rem;
    padding-left: 8vw;
  }


/* レスポンシブ */
@media screen and (max-width: 900px) {
  .header__box1 {
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    padding: 4%;
  }
  
  .header__box2 {
    display: none;
  }

  /* フッター */
  .footer__flex {
    flex-direction: column;
  }

  .footer__box {
    margin-top: 15px;
  }



}

