@charset "UTF-8";

/* 全体 */
html {
   /* ベースフォントを10pxにする（デフォルトは16px） */
  font-size: 62.5%;
}

body {
  /* Google Fontsを読み込むならここ */
  line-height: 2.0;
  color: #000000;
  /* サイト全体の文字サイズを14pxにする */
  font-size: 1.4rem;
  background-color: #F0F0F0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

a {
  color: #000;
  text-decoration: none;
}

.container-1 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
}

.container-2 {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 4%;
}

.wrapper {
  padding: 30px 0;
}

* {
  box-sizing: border-box;
}

/* ヘッダー */
.header {
  display: flex;
  justify-content: space-between;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.logo {
  width: 100px;
  margin-left: 4vw;
}

.menu__list {
  text-transform: uppercase;
  margin-left: 4vw;
}

.header__box1 {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.header__box2 {
  padding: 30px 50px;
  background: #000;
  font-size: 1.2rem;
}

.header__box2 a {
  color: #fff;
}

/* メインビジュアル */
.main-visual {
  margin: 0 calc(50% - 50vw);
  width: 100vw;
}

.main-visual img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

/* セクション全体 */
.title__box::after {
  content: "";
  width: 40px; /* 擬似要素でタイトル下に横線を引く */
  height: 1px;
  background-color: #000;
  display: block;
  margin: 15px 0;
}

.section__title {
  font-size: 3.6rem;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1.0rem;
}

.section__subtitle {
  font-weight: normal;
  margin-top: 15px;
}

section + section {
  margin-top: 70px;
}

/* NEWS */
.news__list {
  display: flex;
}

.news__content + .news__content {
  padding-left: calc((15/1000) * 100%);
  margin-left: calc((55/1000) * 100%);
  border-left: 2px solid #87888e;
}

.news__date {
  font-size: 1.4rem;
}

.news__span {
  font-size: 1.2rem;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  padding: 4px;
}

.news__text {
  font-size: 1.6rem;
  margin-top: 5px;
}

/* ABOUT */
.about__flex {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.about__box1 {
  margin: 0 calc(50% - 50vw);
  width: 40vw;
  padding: 100px 3vw 0;
}

.about__box2 {
  margin: 0 calc(50% - 50vw);
  width: 55vw;
}

.about__box2 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.about__text {
  margin-top: 20px;
}

/* BUSINESS */
.business__flex {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
}

.business__box1, .business__box2 {
  margin: 0 30px;
}

.business__box1 {
  margin-top: 50px;
}

.business__img {
  margin-top: 30px;
}

.businessimg__title {
  font-weight: normal;
  margin-bottom: 10px;
  margin-left: 18px;
  position: relative;
}

.businessimg__title::before {
  content: "";
  background-color: #000;
  width: 8px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: -18px;
}

/* COMPANY */
.company__wrapper {
  display: flex;
  position: relative;  
}

.company__box {
  background: #fff;
  padding: 50px 8% 50px 6%;
  width: 55%;
}

.company__heading {
  text-align: left;
  width: 60px;
}

.company__data {
  padding-left: 3vw;
}

/* 画像（右側）にposition: absolute;を指定 */
.company__image {
  position: absolute;
  top: 110px;
  right: 0;
  width: 50%;
  margin-top: 20px;
}

.company__image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

/* フッター */
.footer {
  background-color: #fff;
  margin-top: 30px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.copyright {
  font-size: 0.75rem;
  padding-left: 8vw;
}


/* レスポンシブ */
@media screen and (max-width: 900px) {
  .header__box1 {
    flex-direction: column;
    align-items: flex-start;
  }

  h1 {
    padding: 4%;
  }

  .logo {
    margin-left: 0;
  }
  
  .header__box2 {
    display: none;
  }

  /* NEWS */
  .news__list {
    flex-direction: column;
  }

  .news__content + .news__content {
    padding: 0;
    margin: 20px 0 0 0;
    border: none;
  }

  /* ABOUT */
  .about__flex {
    flex-direction: column-reverse;
  }

  .about__box1 {
    margin: 0 auto;
    width: 100%;
    padding: 0;
  }

  .about__box2 {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
  }
  
  .about__text {
    margin-top: 20px;
  }

  /* BUSINESS */
  .business__flex {
    flex-direction: column;
    padding: 0;
  }

  .business__img {
    width: 100%;
  }

  .business__box1, .business__box2 {
    margin: 0;
  }

  /* COMPANY */
  .company__wrapper {
    flex-direction: column;
    position: static;
  }

  .company__box {
    padding: 50px 0 50px 4%;
    position: static;
    width: 100%;
  }

  .company__table tr {
    display: flex;
    flex-direction: column;
  }
  
  .company__image {
    position: static;
    width: 100%;
  }

  /* フッター */
  .footer__flex {
    flex-direction: column;
  }

  .footer__box {
    margin-top: 15px;
  }

}

