@charset "UTF-8";

/* 共通部分 */
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #000;
  font-family: 'Crimson Text', serif;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

/* メインビジュアル */
.main-visual {
  width: 90vw;
  margin: 0 auto;
}

/* HEADER */
.logo {
  width: 110px;
}

.main-nav {
  display: flex;
  font-size: 1.0rem;
  text-transform: none;
  list-style: none;
}

.main-nav li {
  margin-left: 8vw;
}

.main-nav a {
  color: #000;
}

.main-nav a:hover {
  color: #000;
}

.page-header {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 90vw;
  margin: 30px auto;
}

.page-header h1 a {
  display: inline-block;
  line-height: 1;
}

.wrapper {
  max-width: 1000px;  /*  横幅最大サイズの指定  */
  margin: 0 auto;     /*  中央に配置する指定  */
  padding: 0 4%;      /*  スマートフォン向け余白の指定  */
}

/* メイン */
.section-flex {
  display: flex;
}

.content-img {
  width: 50%;
}

.content-text {
  width: 50%;
  padding: 60px 40px;
}

h1 {
  min-width: 110px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 4px;
}

h3 {
  font-size: 1.0rem;
  margin-bottom: 20px;
}

/* フッター */
footer {
  background: #fff;
  text-align: center;
  padding: 50px 0;
}

footer p {
  color: #000;
  font-size: 0.875rem;
}

.footer-flex {
  display: flex;
  justify-content: space-between;
}

.footer-flex .logo a {
  display: inline-block;
  line-height: 1;
}

@media screen and (max-width: 767px) {

  .main-visual img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
  }

  #concept {
    flex-direction: column;
  }

  #work {
    flex-direction: column-reverse;
  }

  .content-img {
    width: 100%;
  }

  .content-text {
    width: 100%;
    padding: 0;
  }

  footer {
    padding: 20px 0;
  }

}